body {
  background-color: #F4D9A4;
  background-image: src("/webpage_img/_MG_0302.jpg");
  background-repeat: no-repeat;
}
h1 {
  text-align:center;
  color: black;
  font-family: verdana;
  font-size: 300%;
}
h2,h3,h4,h5 {
  text-align:center;
  color: black;
  font-family: verdana;
}
p {
  color: black;
  font-family: courier;
}
a:link {
  background-color: #3E559B;
  color: green;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:visited {
  background-color: #5044B3;
  color: green;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover {
  color: red;
  background-color: transparent;
}
a:active {
  color: yellow;
  background-color: transparent;
}
